<% @posts.each do|post| %>
<article class="posts">
	<h3><%= link_to  post.title , post_path(post) %></h3>
	<h6>Written on <%= post.created_at.strftime("%d %b %Y")%></h6>
	<div class="row">
		<div class="large-10 columns">
			<div><%= simple_format post.description %></div>
		</div>
		<div class="large-2 columns">
			<div class="row">
				<div>
					<%=  post.tag.any?? 'Tags' : '' %>
					<% post.tag.each do |tag| %>
					<span> <%= link_to tag.name %></span>
					<% if tag.id != post.tag.last.id %>
					•
					<% end%>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</article>

<% if post.id != @posts.last.id %>
<hr />
<% end %>


<% end %>

